body {
    font-family: font-family: century-gothic, sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #272121;
    
    
    
}

.devilarms {
    background-color: #646b72;
    color: #000;

}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.characters {
    background-color: #CCD1D1;
}

.items {
    background-color:  #e5e5e8;
}

.bg-footer {
    background-color: #000;
    color: white 
}